div[id="Catlink Section"] {
    text-align: center;
    margin-bottom: 50px;
    
    & > strong a {
        background: rgba(0,0,0,.05);
        display: block;
        padding: 5px;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 25px;
    }
    
    & .category-readmore {
        background: rgba(0,0,0,.05);
        display: block;
        padding: 5px;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.lcp_catlist {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    & li {
        display: flex;
        flex-direction: column-reverse;
        width: 33%;
        & a {
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    & img {
    	width: 80%;
    }
}

