
.coabanner-wrapper {
  position: relative;
  width: 100%;
}
.coabanner-image {
	max-width: 1200px;
	width: 100%;
	display: block;
	margin: 0 auto;
  background-color: #d8cfc6;
}
.coabanner-button {
	border: 0;
	outline: 0;
	background: black;
	box-shadow: none;
	color: white;
	text-transform: uppercase;
	border-radius: 0;
	padding: 0.75em 0.5em;
	font-size: 1.25em;
}
.coabanner-button:hover {
	border: 0;
	box-shadow: none;
}
.coabanner-content {
	margin: 0;
	padding: 2em 0;
}
.coabanner-title {
	font-size: 1.8em;
	margin: 0;
	text-transform: uppercase;
}
.coabanner-content-wrapper {
	position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    height: 100%;
    font-size: 1.75vw;
    text-align: center;
}