.comments-area {
  & img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
  }
  & .reply a {
    font-style: italic;
    text-decoration: none;
  }
  & .says {
    display: none;
  }
}
.comments-title {
  text-transform: uppercase;
}
.comment-body {
  padding: 0;
  padding-bottom: var(--gutter);
  margin: 0;
  position: relative;
}
.comment-author.vcard {
  display: flex;
  & .fn {
    padding-left: 10px;
    text-transform: uppercase;
  }
}
.comment-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  & li {
    list-style: none;
  }
  & .children {
     margin: 0;
  }
}
.comment-meta {
  margin-bottom: 0;
}
.comment-metadata {
  font-style: italic;
  position: absolute;
  top: 60px;
  transform: translateY(-100%);
  font-size: 14px;
  left: 70px; /* 60px avatar plus 10px padding */
  & a {
    text-decoration: none;
  }
}
.edit-link:before {
  font-style: normal;
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
}
.comment-content {
  & p:last-child {
    margin-bottom: 0;
  }
}