.entry-footer {
  margin-top: 20px;
  & .comments-link,
  & .edit-link {
    margin-left: 5px;
    &:before {
      content: "|";
      margin-right: 5px;
    }
  }
}
.site-footer {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  & .site-info {
    padding: 5px;
    
  }
}
