:root {
  --gutter: 25px;
  --max-width: 1200px;
  --background-color: #FFF;
  --article-background: #FFF;
  --sidebar-background: var(--article-background);
  --sidebar-border: #000;
  --sub-menu-background: var(--article-background);
  --border-color: #9C9896;
  --color-text: #5C5754;
  --color-bg: #FFFFFF;
}

#page.site, html {
  background-color: var(--background-color);
}
a,
a:hover,
a:visited {
  color: initial;
}
.site-content {
  margin: calc(var(--gutter) * 2) auto 0 auto;
  max-width: var(--max-width);
}
