.site-header {
	display: flex;
	padding: calc(var(--gutter) * 1.5) 0;
	max-width: var(--max-width);
	align-items: center;
	margin: 0 auto;
	background-color: var(--background-color);
}
.menu-main-container {
	height: 100%;
}
.site-branding {
	align-self: center;
	flex: 1;
	margin: 0 var(--gutter);
}
.menu-toggle {
	cursor: pointer;
	display: none;
	visibility: hidden;
	text-decoration: underline;
	margin-bottom: var(--gutter);
}
#primary-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 100%;
  	margin: 0;
	& a {
		text-decoration: none;
	}
	& > .menu-item {
		padding: 10px;
	}
}
.menu-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	& > a {
		padding-bottom: 10px;
		text-align: right;
	}
}
.menu-item-has-children {
	& > .sub-menu {
		transition: 0.3s opacity;
		margin-top: 30px;
		visibility: hidden;
		opacity: 0;
		padding: calc(var(--gutter) / 2) var(--gutter);
		transform: translate(-25%);
		background-color: var(--sub-menu-background);
		border: 1px solid var(--border-color);
	}
	&:hover > .sub-menu,
	& > .sub-menu:hover {
		visibility: visible;
		opacity: 1;
	}
}
.sub-menu {
	display: flex;
	position: absolute;
	flex-direction: column;
	z-index: 1;
}
.main-navigation {
	flex: 2;
	margin: 0 var(--gutter) 0 0;
	& ul {
		padding-left: 0;
		margin-left: 0;
		list-style: none;
	}
}

#header-image-wrapper {
	text-decoration: none;
	color: initial;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 350px;
	& p {
		font-family: sans-serif;
		font-size: 0.8em;
		padding: 0;
		margin: 0;
	}
	& h1 {
		font-family: cursive;
		font-weight: normal;
		margin: 0;
	}
}

@media only screen and (width >= 768px) and (width <= 1000px) {
	#header-image-wrapper {
		font-size: 1.2em;
		min-width: 275px;
	}
}
@media only screen and (width >= 450px) and (width <= 600px) {
	#header-image-wrapper {
		font-size: 1.2em;
		min-width: 275px;
	}
}
@media only screen and (width < 450px) {
	#header-image-wrapper {
		font-size: 1em;
		min-width: 235px;
	}
}

@media only screen and (max-width : 768px) {
	#primary-menu {
		margin-bottom: 0;
		margin-top: calc(var(--gutter) / 2);
		transition: 0.3s max-height, 0.3s opacity;
		&.toggle-on {
			visibility: visible;
			max-height: 500px;
			opacity: 1;
		}
		&.toggle-off {
			visibility: hidden;
			max-height: 0;
			opacity: 0;
		}
	}
	.site-branding {
		flex: 3;
	}
	.main-navigation {
		text-align: right;
		flex: 1;
	}
	.menu-toggle {
		display: initial;
		visibility: visible;
	}
	#primary-menu, .menu-item-has-children, .sub-menu {
		flex-direction: column;
		align-items: flex-end;
		height: initial;
	}
	.menu-item-has-children {
		cursor: pointer;
		& .sub-menu {
			transform: none;
		}
		&.hidden > .sub-menu {
			visibility: hidden;
			opacity: 0;
		}
		&.expanded > .sub-menu {
			visibility: visible;
			opacity: 1;
		}
	}
}
