.content-area {

}

main {
  width: 66%;
  display: inline-block;
  padding: 0 var(--gutter);
  vertical-align: top;
}

aside {
  width: 33%;
  display: inline-block;
  padding: 0 var(--gutter) 0 0;
  vertical-align: top;
}

@media (width <= 600px) {
  .content-area {

  }

  main {
    width: 100%;
  }

  aside {
    display: none;
  }
}

