.entry-header {
  text-align: center;
  & .entry-meta {
    font-size: 14px;
  }
}
.entry-title {
  text-transform: lowercase;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
  & a {
    text-decoration: none;
  }
}
article {
  margin-bottom: 30px;
  padding: 15px;
  background-color: var(--article-background);
  & ul {
    padding-left: 0;
  }
}
.read-more-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  & .read-more-image {
    padding-right: 10px;
  }
  & .read-more-content p:last-child {
    margin-bottom: 0;
  }
  & .read-more-link {
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.05);
    padding: 3px 0;
    margin: 3px 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
}
.entry-footer {
  text-align: center;
  & > span:first-child {
    margin-left: 0;
    &:before {
      content: "";
    }
  }
}
@media (max-width: 768px) {
  .entry-title {
    font-size: 20px;
  }
}
