aside {
  & > section {
    padding: var(--gutter);
    padding-top: 0;
    border: 3px solid var(--sidebar-border);
  }
}
.widget-title {
  margin: 0;
  transform: translateY(calc(var(--gutter) / -1.5));
  background-color: var(--background-color);
  color: var(--sidebar-background);
  border-left: 3px solid var(--sidebar-border);
  border-right: 3px solid var(--sidebar-border);
}
.sidebar-about {
  text-align: center;
}
.sidebar-about-pic {
  width: 100%;
  & img {
    border-radius: 50%;
    background: none;
  }
}
.sidebar-about-text {
  padding: 0;
  text-align: center;
}
.widget {
  margin: 0 0 var(--gutter);
}
.widget-title {
  text-align: center;
}

/* Jetpack Socal Media Icons*/
.widget_wpcom_social_media_icons_widget ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

/* Instagram Feed WD */
#wdi_feed_0 .wdi_feed_wrapper,
#wdi_feed_0 .wdi_feed_container,
#wdi_feed_0 .wdi_feed_wrapper, #wdi_feed_0 .wdi_photo_wrap_inner {
    background: none !important;
}
#wdi_feed_0 .wdi_feed_container {
    border-bottom: 0 !important;
}
#wdi_feed_0 .wdi_photo_wrap_inner {
    border: 0 !important;
    /*padding: var(--gutter);*/
}
/* Wordpress Popular Posts */
.wpp-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.wpp-thumbnail {
  width: 100%;
  margin: var(--gutter) 0 0 0;
  padding: var(--gutter);
}
.wpp-post-title {
  display: none;
}
/* search and subscribe inputs form jetpack */
.widget_search input[type="submit"],
.jetpack_subscription_widget input[type="submit"] {
  display: none;
}
.widget_search input[type="search"],
.jetpack_subscription_widget input[type="search"]{
  width: 100%;
}

.mc4wp-form {
  & input[type="text"],
  & input[type="email"] {
    width: 100%;
  }
}

/* Sidebar ad */
.awin-ad-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 25px;
}

/* Recent Posts Layout */
.recent-posts-widget-with-thumbnails ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0;
}
.recent-posts-widget-with-thumbnails ul li img {
	margin: 0 !important;
}
.recent-posts-widget-with-thumbnails a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Jetpack Social Buttons */
.widget_wpcom_social_media_icons_widget {
	padding-bottom: 0;
}
.widget_wpcom_social_media_icons_widget ul {
	display: flex;
	justify-content: space-around;
}
.widget_wpcom_social_media_icons_widget a {
	font-size: 2.5em;
}
